body {
    margin: 0px;
    padding: 0px;
    background-color: #fffaf4;
}
.nav-bar {
    
}
.menu {
    margin: 16px 16px;
}
.selection {
    display: flex;
}
.contact {
    display: flex;
    justify-content: space-between;
    margin: 80px 80px 0px 80px;
}
.thumbnail {
    background-color: brown;
    padding
}
.introduction {
    margin-left: 60%;
    border: solid white;
    padding: 20px 16px;
    width: 30%;
}
.sub-introduction {
    color: white;
}
.size-24 {
    font-size: 24px;
}